{{define "connections.tmpl"}}
{{template "base.tmpl" .}}
{{end}}

{{define "connections.content"}}
<div class="h-full flex flex-col overflow-hidden">
  {{template "page_header.tmpl" .}}
  <div class="flex-1 overflow-y-auto">
    <div class="p-8">
      <div
        class="rounded border border-[rgba(148,163,184,0.055)] bg-[var(--np-panel)]"
      >
        <div
          hx-get="/partials/ui/active-connections"
          hx-trigger="load, every 10s"
          hx-swap="innerHTML"
        ></div>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "connections.header_right"}}{{end}}

